#main-content {
  padding-inline: 0.5rem;
  display: grid;
  gap: 2rem;

  >h1 {
    font-size: clamp(1.2em, 6vw, 2.5em);
    margin: 0;
  }

  h3 {
    margin: 0;
    border-bottom: 1px solid @border-color;

    >a {
      font-size: 0.8rem;
    }
  }

  .error {
    font-size: 0.8rem;
    color: red;
  }

  input,
  select,
  input::file-selector-button {
    padding: 0.5rem 1rem;
  }

  input[type="file"] {
    padding: 0;
  }

  .hidden {
    display: none;
  }

  >form#membership-form {
    display: grid;
    gap: 2rem;
    border: 1px solid @border-color;
    padding: 1rem;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);

    >div#contact-data {
      display: grid;

      gap: 1rem 0.5rem;

      >div.input-group {
        display: flex;
        flex-direction: column;
        place-items: center;

        >label {
          font-size: 0.8rem;
          font-weight: normal;
          color: @color-light-grey;
        }
      }

      &.company {
        grid-template-columns: 1fr 0.5fr 1fr;

        >h3 {
          grid-column: span 3;
        }

        input,
        select {
          width: 100%;
        }

        >button[type=submit] {
          margin-top: 1rem;
          grid-column: span 3;
        }

        @media(max-width: 700px) {
          grid-template-columns: 0.5fr 1fr;

          >h3,
          .input-group.company,
          button[type=submit] {
            grid-column: span 2;
          }
        }

        @media(max-width: 450px) {
          grid-template-columns: 1fr;

          >h3,
          .input-group.company,
          button[type=submit] {
            grid-column: span 1;
          }
        }
      }

      &.person {
        grid-template-columns: 0.5fr 1fr 1fr 1fr;

        >h3 {
          grid-column: span 4;

          >a {
            font-size: 0.8rem;
          }
        }

        >button[type=submit] {
          grid-column: span 4;
          margin-top: 1rem;
        }


        @media (max-width: 920px) {
          grid-template-columns: 0.5fr 1fr 1fr;

          >h3 {
            grid-column: span 3;
          }

          >button[type=submit] {
            grid-column: span 3;
          }

          >div.input-group {

            >input,
            select {
              width: 100%;
            }

            &.email {
              grid-column: span 3;
            }
          }
        }

        @media (max-width: 520px) {
          grid-template-columns: 1fr 1fr;

          >h3 {
            grid-column: span 2;
          }

          >button[type=submit] {
            grid-column: span 2;
          }

          >div.input-group {

            >input,
            select {
              width: 100%;
            }

            &.title,
            &.email {
              grid-column: span 2;
            }
          }
        }
      }
    }

    >div#membership-fee {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem 0.5rem;

      >h3,
      >div.error,
      div#reduction-container,
      >button[type=submit] {
        grid-column: span 4;
      }

      @media (max-width: 385px) {
        grid-template-columns: 1fr 1fr;

        >h3,
        >div.error,
        div#reduction-container,
        >button[type=submit] {
          grid-column: span 2;
        }
      }

      >div.input-group {
        display: grid;

        >input[type="radio"] {
          display: none;

          &:checked+label {
            border-color: @metager-orange;
          }
        }

        &.custom {
          >input#amount-custom-value {
            display: none;
            min-width: 6rem;
          }

          >input#amount-custom {
            &:checked {
              +label {
                display: none;
              }

              +label+input {
                display: block;
                border: 1px solid @metager-orange;

                &:focus {
                  outline: 0;
                }
              }
            }
          }
        }

        >label {
          cursor: pointer;
          font-weight: normal;
          margin: 0;
          padding: 0.5rem 1rem;
          display: grid;
          place-content: center;
          border: 1px solid @border-color;
        }
      }

    }

    >div#membership-payment {
      display: grid;
      gap: 1rem;

      >div#membership-interval {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 690px) {
          grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 400px) {
          grid-template-columns: 1fr;
        }

        gap: 0.5rem;

        >div.input-group {
          display: grid;

          >label {
            display: flex;
            align-items: center;
            font-weight: normal;
            place-content: center;
            cursor: pointer;
            padding: 0.5rem 1rem;
            border: 1px solid @border-color;

            >span.amount {
              white-space: pre;
              font-size: .8rem;
            }
          }

          >input {
            display: none;

            &:checked+label {
              border-color: @metager-orange;
            }
          }
        }
      }


    }

    >div#membership-payment-method {
      display: grid;
      gap: 1rem;

      >h3 {
        display: flex;
        align-items: first baseline;
        flex-wrap: wrap;
        gap: 0.5rem;

        >div.funding-sources {
          display: none;
          gap: 0.5rem;

          >img {
            opacity: 0;
            height: 24px;
          }
        }
      }

      &.disabled>h3>div.funding-sources {
        display: flex;

        >img {
          opacity: 0.4;
        }
      }

      >div {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr;

        >label {
          display: grid;
          font-weight: normal;
          place-content: center;
          cursor: pointer;
          padding: 0.5rem 1rem;
          border: 1px solid @border-color;
        }

        .info-container {
          display: none;
          grid-column: span 2;
        }

        >div#directdebit-data {
          grid-column: span 2;
          grid-template-columns: 1fr 1fr;

          >div.error {
            grid-column: span 2;
          }

          >div.bic {
            grid-column: span 2;
          }

          @media (max-width: 500px) {
            grid-template-columns: 1fr;

            >div.error {
              grid-column: auto;
            }

            >div.bic {
              grid-column: span 1;
            }
          }

          gap: 0.5rem;

          >div.input-group {
            display: flex;
            flex-direction: column;

            >label {
              text-align: center;
              font-weight: normal;
              font-size: 0.8rem;
              color: @color-light-grey;
            }
          }
        }

        >input {
          display: none;

          &:checked {
            +label {
              border-color: @metager-orange;
            }
          }
        }

        &:not(.disabled)>input {
          &:checked {
            &#payment-method-directdebit~div#directdebit-data {
              display: grid;
            }

            &#payment-method-paypal~div#paypal-data {
              display: block;
            }

            &#payment-method-creditcard~div#creditcard-data {
              display: block;
            }
          }
        }

        >div#creditcard-data {
          div.input-group {
            display: flex;
            flex-direction: column;
            place-items: center;

            >label {
              font-size: 0.8rem;
              font-weight: normal;
              color: @color-light-grey;
            }
          }

          div>label {
            font-size: 0.8rem;
            font-weight: normal;
            color: @color-light-grey;
          }

          &.loading {
            display: flex !important;
            margin-top: 1rem;
            justify-content: center;

            &::before {
              content: attr(data-loading-text);
              background-image: url("/img/ajax-loader.gif");
              background-repeat: no-repeat;
              padding-left: 2rem;
            }

            >#creditcard-name-container,
            #creditcard-details,
            #billing-address,
            #payment-block {
              display: none;
            }
          }

          #creditcard-details {
            display: grid;
            grid-template-columns: 7fr 1fr 1fr;
          }

          #billing-address {
            >.inputs {
              margin-top: 1rem;
              display: flex;
              flex-wrap: wrap;
              gap:
                1rem;
              place-content:
                space-around;
            }
          }

          #payment-block {
            margin-top: 1rem;
          }
        }

        @media (max-width: 380px) {
          grid-template-columns: 1fr;

          >div#directdebit-data {
            grid-column: auto;
          }

          .info-container {
            display: none;
            grid-column: span 1;
          }
        }
      }
    }

    >button[type=submit] {
      &.loading {
        display: flex;
        gap: 1rem;
        place-content: center;

        &::before {
          background-image: url("/img/ajax-loader.gif");
          content: '';
          display: grid;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position:
            center;
        }
      }
    }
  }

  >#membership-advantages {
    display: grid;
    gap: 1rem;

    >div {
      display: grid;
      gap: 0.5rem;
    }
  }

  // Success Page
  #data {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .input-group {
      display: flex;
      flex-direction: column;

      >label {
        font-size: 0.8rem;
      }
    }
  }

  #key {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .description {
      display: inline-block;
    }
  }
}