#login {
    >form {
        display: grid;
        row-gap: 0.5rem;

        .input-group {
            display: grid;

            >label {
                font-weight: normal;
                font-size: .8rem;
                margin: 0;
            }
        }

        >a.reset {
            text-align: center;
            font-size: .8rem;
        }
    }
}

#overview {
    >div#invoice-data {
        display: grid;
        row-gap: 0.5rem;
        width: 50%;
        min-width: 320px;

        >.input-group {
            display: grid;

            >label {
                margin: 0;
                font-weight: normal;
                font-size: .8rem;
            }
        }

        >h3 {
            margin: 0;
        }
    }
}