#login {
    >form {
        display: grid;
        row-gap: 0.5rem;

        .input-group {
            display: grid;

            >label {
                font-weight: normal;
                font-size: .8rem;
                margin: 0;
            }
        }

        >a.reset {
            text-align: center;
            font-size: .8rem;
        }
    }
}