#login {
    >form {
        display: grid;
        row-gap: 0.5rem;

        .input-group {
            display: grid;

            >label {
                font-weight: normal;
                font-size: .8rem;
                margin: 0;
            }
        }

        >a.reset {
            text-align: center;
            font-size: .8rem;
        }
    }
}

#overview {
    >div#settings {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media(max-width: 610px) {
            grid-template-columns: 1fr;
        }

        >div#invoice-data {
            display: grid;
            row-gap: 0.5rem;
            width: 50%;
            min-width: 320px;

            >h3 {
                margin: 0;
            }
        }

        >div#abo {
            display: grid;
            row-gap: 0.5rem;
            place-content: baseline;

            >p {
                font-size: .8rem;
            }

            >h3 {
                margin: 0;
            }
        }
    }

    .input-group {
        display: grid;

        >label {
            margin: 0;
            font-weight: normal;
            font-size: .8rem;
        }
    }
}

#abo-create {
    >#interval {
        display: flex;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        flex-wrap: wrap;

        >a {
            &:not(.active) {
                color: inherit;
            }

            display: block;
            padding: 0.5rem 1rem;
            border: 1px solid;
        }
    }

    >a.nda-link {
        margin-bottom: 0.5rem;
    }
}