variables:
    DOCKER_HOST: "tcp://docker-dind.gitlab-suma:2375"
    BUILD_DOCKER_IMAGE: docker:20.10.15

stages:
  - build_composer

build_composer:
  stage: build_composer
  image: $BUILD_DOCKER_IMAGE
  script:
    - docker build --target=composer -f build/fpm/Dockerfile .