variables:
    DOCKER_HOST: "tcp://docker-dind.gitlab-suma:2375"
    BUILD_DOCKER_IMAGE: docker:20.10.15
    DEPLOY_KUBERNETES_IMAGE: alpine/k8s:1.22.6
    DOCKER_FPM_IMAGE_NAME: fpm
    DOCKER_NGINX_IMAGE_NAME: nginx

workflow:
  rules:
  - if: $CI_COMMIT_BRANCH != "master" && $CI_COMMIT_BRANCH != "development" &&  ($CI_COMMIT_TAG || $CI_COMMIT_BRANCH)
    variables:
      DOCKER_COMPOSER_IMAGE_TAG: $CI_COMMIT_REF_SLUG-composer-$CI_COMMIT_SHA
      DOCKER_FPM_IMAGE_TAG: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHA
      DOCKER_NGINX_IMAGE_TAG: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHA
      APP_ENV: development
      APP_URL: "https://${CI_COMMIT_REF_SLUG}.review.metager.de"
  - if: $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "development"
      variables:
        DOCKER_COMPOSER_IMAGE_TAG: $CI_COMMIT_BRANCH-composer-$CI_COMMIT_SHA
        DOCKER_FPM_IMAGE_TAG: $CI_COMMIT_BRANCH-$CI_COMMIT_SHA
        DOCKER_NGINX_IMAGE_TAG: $CI_COMMIT_BRANCH-$CI_COMMIT_SHA
  - if: $CI_COMMIT_BRANCH == "master"
      variables:
        APP_URL: https://metager.de
  - if: $CI_COMMIT_BRANCH == "development"
      variables:
        APP_URL: https://metager3.de

stages:
  - build_composer
  - build_dependencies
  - build_docker_images
  - deploy
  - integrationtest
  - stop_review

include:
  - local: /.gitlab/ci/build_composer.yml
  - local: /.gitlab/ci/build_dependencies.yml
  - local: /.gitlab/ci/build_docker_images.yml
  - local: /.gitlab/ci/deploy.yml
  - local: /.gitlab/ci/integrationtest.yml