update(144.76.113.134):
  tags:
  - 144.76.113.134
  only:
    - master@open-source/MetaGer
  before_script:
    # Abhängigkeiten überprüfen
    - which composer
    - which git
    - which php
    - which sqlite3
  script:
    - sh build.sh
   
update(metager2):
  tags:
  - metager2
  only:
    - master@open-source/MetaGer
  before_script:
    # Abhängigkeiten überprüfen
    - which composer
    - which git
    - which php
    - which sqlite3
  script:
    - sh build.sh
    
update(metager3.de):
  tags:
  - metager3
  only:
    - development@open-source/MetaGer
  before_script:
    # Abhängigkeiten überprüfen
    - which composer
    - which git
    - which php
    - which sqlite3
  script:
    - sh build.sh