version: '3.7'
services:
  phpdeps:
    image: prooph/composer:7.3
    volumes:
      - .:/app
    command: install
  assets:
    image: node:10
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run watch"
  dependencies:
    depends_on:
      - "mgdb"
    image: php:7.3-cli-alpine
    volumes:
      - .:/data
    working_dir: /data
    command: /bin/sh -c "apk add --update dos2unix && dos2unix ./init.sh && ./init.sh && ./init.sh"
  mgdb:
    restart: on-failure
    image: mariadb:latest
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_USER=metager
      - MYSQL_PASSWORD=metager
      - MYSQL_DATABASE=metager
  redis:
    restart: on-failure
    image: redis:6-alpine
  redis_cache_1:
    restart: on-failure
    image: redis:6-alpine
    networks:
      default: {}
      cache_network:
          ipv4_address: "10.5.0.10"
    volumes:
      - ./config/redis_local_cluster.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
  redis_cache_2:
    restart: on-failure
    image: redis:6-alpine
    networks:
      default: {}
      cache_network:
          ipv4_address: "10.5.0.11"
    volumes:
      - ./config/redis_local_cluster.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
  redis_cache_3:
    restart: on-failure
    image: redis:6-alpine
    networks:
      default: {}
      cache_network:
          ipv4_address: "10.5.0.12"
    volumes:
      - ./config/redis_local_cluster.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
  redis_cache_4:
    restart: on-failure
    image: redis:6-alpine
    networks:
      default: {}
      cache_network:
          ipv4_address: "10.5.0.13"
    volumes:
      - ./config/redis_local_cluster.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
  redis_cache_5:
    restart: on-failure
    image: redis:6-alpine
    networks:
      default: {}
      cache_network:
          ipv4_address: "10.5.0.14"
    volumes:
      - ./config/redis_local_cluster.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
  redis_cache_6:
    restart: on-failure
    image: redis:6-alpine
    networks:
      default: {}
      cache_network:
          ipv4_address: "10.5.0.15"
    volumes:
      - ./config/redis_local_cluster.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
  redis_cluster_init:
    restart: on-failure
    image: redis:6-alpine
    networks:
      - default
      - cache_network
    command: redis-cli --cluster create 10.5.0.10:6379 10.5.0.11:6379 10.5.0.12:6379 10.5.0.13:6379 10.5.0.14:6379 10.5.0.15:6379 --cluster-replicas 1 --cluster-yes
  phpfpm:
    depends_on:
      - "mgdb"
      - "dependencies"
      - "phpdeps"
      - "assets"
      - "redis"
    restart: on-failure
    networks:
      - default
      - cache_network
    build:
      context: .
      dockerfile: DockerfileDev
    image: metager:latest
    working_dir: /html
    volumes:
      - .:/html
  nginx:
    depends_on:
      - "phpfpm"
    restart: on-failure
    image: metager:latest
    working_dir: /html
    command: nginx
    volumes:
      - .:/html
      - ./config/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx-default-dev.conf:/etc/nginx/conf.d/default.conf
    ports: 
    - "8080:80"
  worker:
    depends_on:
      - "phpfpm"
    restart: on-failure
    image: metager:latest
    working_dir: /html
    networks:
      - default
      - cache_network
    volumes:
      - .:/html
    command: "su -s /bin/sh -c 'php artisan requests:fetcher' nginx"
  dummy-phpfpm:
    restart: on-failure
    image: registry.metager.de/open-source/dummy-engine/master
    working_dir: /html
  dummy-nginx:
    depends_on:
      - "dummy-phpfpm"
    restart: on-failure
    image: registry.metager.de/open-source/dummy-engine/master
    working_dir: /html
    command: sh -c "sed -i 's/fastcgi_pass localhost:9000;/fastcgi_pass dummy-phpfpm:9000;/g' /etc/nginx/conf.d/default.conf && nginx"
networks:
  cache_network:
    driver: bridge
    ipam:
     config:
       - subnet: 10.5.0.0/16
         gateway: 10.5.0.1