version: '3.7'
services:
  nodejs:
    image: metager/development:latest
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    volumes:
      - .:/html
    command: bash -c "npm i --cache .npm --prefer-offline && npm run watch"
  composer:
    image: metager/development:latest
    depends_on:
      - "nodejs"
    environment:
      - COMPOSER_HOME=/html/.composer
    volumes:
      - .:/html
    command: composer install
  phpfpm:
    depends_on:
      - "nodejs"
    restart: always
    image: metager/development:latest
    volumes:
      - .:/html
      - ./helpers/entrypointDev.sh:/entrypoint.sh
  nginx:
    depends_on:
      - "nodejs"
    restart: always
    image: metager/development:latest
    command: nginx
    volumes:
      - .:/html
      - ./config/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx-default-dev.conf:/etc/nginx/sites-available/default
    ports: 
    - "8080:8080"
  worker:
    depends_on:
      - "nodejs"
    restart: always
    image: metager/development:latest
    volumes:
      - .:/html
    command: "php artisan requests:fetcher"
#  dummy-phpfpm:
#    restart: on-failure
#    image: registry.metager.de/open-source/dummy-engine/master
#    working_dir: /html
#  dummy-nginx:
#    depends_on:
#      - "dummy-phpfpm"
#    restart: on-failure
#    image: registry.metager.de/open-source/dummy-engine/master
#    working_dir: /html
#    command: sh -c "sed -i 's/fastcgi_pass localhost:9000;/fastcgi_pass dummy-phpfpm:9000;/g' /etc/nginx/conf.d/default.conf && nginx"
  mgdb:
    restart: on-failure
    image: mariadb:latest
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_USER=metager
      - MYSQL_PASSWORD=metager
      - MYSQL_DATABASE=metager
  redis:
    restart: on-failure
    image: redis:6