version: "3.8"

# Volumes
volumes:
  composer_cache: {}
  node_cache: {}

# Services
services:
  fpm:
    build:
      &fpm_build
      context: ./
      dockerfile: build/fpm/Dockerfile
      target: ${APP_ENV}
    restart: unless-stopped
    volumes:
      - ./metager:/metager/metager_app
    healthcheck:
      test: "curl -f http://nginx:8080/health-check/liveness"
  nginx:
    build:
      context: ./
      dockerfile: build/nginx/Dockerfile
      target: ${APP_ENV}
    restart: unless-stopped
    depends_on:
      - fpm
    volumes:
      - ./metager/public:/metager/metager_app/public
    ports:
      - 8080:8080
    healthcheck:
      test: "curl -f http://nginx:8080/health-check/nginx"
  scheduler:
    build:
      <<: *fpm_build
    restart: unless-stopped
    entrypoint: /usr/local/bin/php
    command: artisan schedule:work-mg
    volumes:
      - ./metager:/metager/metager_app
    healthcheck:
      test: "curl -f http://nginx:8080/health-check/liveness-scheduler"
  worker:
    build:
      <<: *fpm_build
    restart: unless-stopped
    entrypoint: /usr/local/bin/php
    command: artisan requests:fetcher
    volumes:
      - ./metager:/metager/metager_app
    healthcheck:
      test: "curl -f http://nginx:8080/health-check/liveness-worker"
  selenium_standalone_firefox:
    image: ${SELENIUM_IMAGE}
    restart: always
    shm_size: 2GB
    ports:
      - "7900:7900"
  composer:
    build:
      <<: *fpm_build
    entrypoint: /usr/bin/composer
    command: install
    environment:
      - COMPOSER_HOME=/composer_cache
    volumes:
      - ./metager:/metager/metager_app
      - composer_cache:/composer_cache

  node:
    build:
      context: ./
      dockerfile: build/node/Dockerfile
      target: $APP_ENV
    restart: unless-stopped
    stop_signal: SIGKILL
    depends_on:
      - nginx
    volumes:
      - ./metager:/home/node/metager
      - node_cache:/home/node/.npm
  redis:
    build:
      context: ./build/redis
    restart: unless-stopped
    user: "redis:redis"
    healthcheck:
      test: "redis-cli ping"
