version: "3"

# Volumes
volumes:
  vendor: {}
  composer_cache: {}
  node_cache: {}
  node_modules: {}

# Services
services:
  fpm:
    build:
      &fpm_build
      context: ./
      dockerfile: build/fpm/Dockerfile
      target: ${APP_ENV}
    volumes:
      - ./metager:/metager/metager_app
      - vendor:/metager/metager_app/vendor
  nginx:
    build:
      context: ./
      dockerfile: build/nginx/Dockerfile
      target: ${APP_ENV}
    volumes:
      - ./metager/public:/metager/metager_app/public
    ports:
      - 8080:8080

  composer:
    build:
      <<: *fpm_build
    entrypoint: /usr/bin/composer
    command: install
    environment:
      - COMPOSER_HOME=/composer_cache
    volumes:
      - ./metager:/metager/metager_app
      - vendor:/metager/metager_app/vendor
      - composer_cache:/composer_cache

  node:
    image: node:14
    entrypoint: ["/bin/bash", "-c"]
    command: 
    - | 
      npm install
      npm run watch
    working_dir: /metager/metager_app
    volumes:
      - ./metager:/metager/metager_app
      - node_modules:/metager/metager_app/node_modules
      - node_cache:/root/.npm
  