name: {{ .Chart.Name }}-phpfpm
image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
imagePullPolicy: {{ .Values.image.pullPolicy }}
{{- if .Values.application.secretName }}
envFrom:
- secretRef:
    name: {{ .Values.application.secretName }}
{{- end }}
env:
- name: DATABASE_URL
    value: {{ .Values.application.database_url | quote }}
- name: GITLAB_ENVIRONMENT_NAME
    value: {{ .Values.gitlab.envName }}
- name: GITLAB_ENVIRONMENT_URL
    value: {{ .Values.gitlab.envURL }}
ports:
- name: "{{ .Values.service.name }}-phpfpm"
    containerPort: 9000
livenessProbe:
    tcpSocket:
    port: "{{ .Values.service.name }}-phpfpm"
    initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
    timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
readinessProbe:
    tcpSocket:
    port: "{{ .Values.service.name }}-phpfpm"
    initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
    timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
volumeMounts:
- name: mglogs-persistent-storage
    mountPath: /html/storage/logs/metager
    readOnly: false
- name: env-files
    mountPath: /root/.env
    subPath: .env
    readOnly: true
- name: env-files
    mountPath: /html/database/seeds/UsersSeeder.php
    subPath: UsersSeeder.php
    readOnly: true
- name: env-files
    mountPath: /html/config/spam.txt
    subPath: spam.txt
    readOnly: true
- name: sumas
    mountPath: /html/config/sumas.json
    subPath: sumas.json
    readOnly: true
- name: sumas-en
    mountPath: /html/config/sumasEn.json
    subPath: sumasEn.json
    readOnly: true
- name: blacklist
    mountPath: /html/config/blacklistUrl.txt
    subPath: blacklistUrl.txt
    readOnly: true
- name: blacklist
    mountPath: /html/config/blacklistDomains.txt
    subPath: blacklistDomains.txt
    readOnly: true
- name: blacklist-ad
    mountPath: /html/config/adBlacklistUrl.txt
    subPath: adBlacklistUrl.txt
    readOnly: true
- name: blacklist-ad
    mountPath: /html/config/adBlacklistDomains.txt
    subPath: adBlacklistDomains.txt
    readOnly: true
resources:
    requests:
    cpu: 500m
    memory: 500m