{
    "sumas": {

    },
    "foki": {
        "web": {
            "display-name": "index.foki.web",
            "sumas": [
                "dummy"
            ],
            "main": [
                "dummy"
            ]
        }
    },
    "filter": {
        "query-filter": {},
        "parameter-filter": {}
    }
}