service:
  externalPort: 80
  internalPort: 80
hpa:
  minReplicas: 1
  maxReplicas: 5
podDisruptionBudget:
  enabled: true
  minAvailable: 1
  maxUnavailable:
ingress:
  annotations:
    certmanager.k8s.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($host = "www.metager3.de") {
          return 301 https://metager3.de$request_uri;
      }