service:
  externalPort: 80
  internalPort: 80
hpa:
  minReplicas: 2
  maxReplicas: 5
podDisruptionBudget:
  enabled: true
  minAvailable: 1
  maxUnavailable:
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: /metrics
  prometheus.io/port: "80"
deploymentApiVersion: apps/v1
ingress:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($host = "www.metager3.de") {
          return 301 https://metager3.de$request_uri;
      }
