service:
  externalPort: 80
  internalPort: 80
hpa:
  minReplicas: 5
  maxReplicas: 100
resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 1Gi
podDisruptionBudget:
  enabled: true
  minAvailable: 4
  maxUnavailable:
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: /metrics
  prometheus.io/port: "80"
ingress:
  annotations:
    certmanager.k8s.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($host = "www.metager.de") {
          return 301 https://metager.de$request_uri;
      }
      if ($host = "www.metager.org") {
          return 301 https://metager.org$request_uri;
      }
      if ($host = "www.metager.es") {
          return 301 https://metager.es$request_uri;
      }
      if ($host = "klassik.metager.org") {
          return 301 https://metager.de$request_uri;
      }
