postgresql:
  enabled: false
service:
  externalPort: 80
  internalPort: 8080
hpa:
  enabled: true
  minReplicas: 3
  maxReplicas: 100
podDisruptionBudget:
  enabled: true
  minAvailable: 1
  maxUnavailable:
prometheus:
  metrics: true
livenessProbe:
  initialDelaySeconds: 0
readinessProbe:
  initialDelaySeconds: 0
resources:
  requests:
  limits:
resourcesPhpfpm: 
  requests:
    cpu: 500m
    memory: 500M
  limits:
resourcesNginx: 
  requests:
    cpu: 100m
    memory: 100M
  limits:
resourcesRedis: 
  requests:
    cpu: 100m
    memory: 1Gi
  limits:
resourcesFetcher: 
  requests:
    cpu: 500m
    memory: 100M
  limits:
resourcesScheduler: 
  requests:
    cpu: 100m
    memory: 100M
  limits:
resources:
  requests:
    cpu: 500m
    memory: 500M
ingress:
  tls:
    enabled: true
    acme: false
    secretName: "metager-tls"
  annotations:
    nginx.ingress.kubernetes.io/client-body-buffer-size: "30m"
    nginx.ingress.kubernetes.io/proxy-body-size: "30m"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline'; script-src-elem 'self' 'unsafe-inline'; script-src-attr 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; style-src-elem 'self' 'unsafe-inline'; style-src-attr 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; connect-src 'self'; media-src; object-src; prefetch-src; child-src; frame-src 'self'; worker-src; frame-ancestors 'self' https://scripts.zdv.uni-mainz.de; form-action 'self' www.paypal.com; base-uri; manifest-src; plugin-types; report-uri; report-to";
      more_set_headers "X-Frame-Options: sameorigin";
      more_set_headers "X-Content-Type-Options: nosniff";
      more_set_headers "ReferrerPolicy: origin";
      more_set_headers "X-XSS-Protection: 1; mode=block";
      more_set_headers "Permissions-Policy: interest-cohort=()";
      if ($arg_out = "results-with-style") {
        more_set_headers "X-Frame-Options: allow-from https://scripts.zdv.uni-mainz.de/";
      }