postgresql:
  enabled: false
service:
  externalPort: 80
  internalPort: 80
hpa:
  enabled: true
  minReplicas: 3
  maxReplicas: 100
podDisruptionBudget:
  enabled: true
  minAvailable:
  maxUnavailable: 0
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: /metrics
  prometheus.io/port: "80"
deploymentApiVersion: apps/v1
resources:
  requests:
  limits:
resources-phpfpm: 
  requests:
    cpu: 500m
    memory: 500M
  limits:
resources-nginx: 
  requests:
    cpu: 100m
    memory: 100M
  limits:
resources-redis: 
  requests:
    cpu: 100m
    memory: 1Gi
  limits:
resources-fetcher: 
  requests:
    cpu: 500m
    memory: 100M
  limits:
ingress:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline'; script-src-elem 'self' 'unsafe-inline'; script-src-attr 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; style-src-elem 'self' 'unsafe-inline'; style-src-attr 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; connect-src 'self'; media-src; object-src; prefetch-src; child-src; frame-src 'self'; worker-src; frame-ancestors 'self' https://scripts.zdv.uni-mainz.de; form-action 'self' www.paypal.com; base-uri; manifest-src; plugin-types; report-uri; report-to";
      more_set_headers "X-Frame-Options: sameorigin";
      more_set_headers "X-Content-Type-Options: nosniff";
      more_set_headers "ReferrerPolicy: origin";
      more_set_headers "X-XSS-Protection: 1; mode=block";
      if ($arg_out = "results-with-style") {
        more_set_headers "X-Frame-Options: allow-from https://scripts.zdv.uni-mainz.de/";
      }
      if ($host = "www.metager.de") {
          return 301 https://metager.de$request_uri;
      }
      if ($host = "www.metager.org") {
          return 301 https://metager.org$request_uri;
      }
      if ($host = "www.metager.es") {
          return 301 https://metager.es$request_uri;
      }
      if ($host = "klassik.metager.org") {
          return 301 https://metager.de$request_uri;
      }
