/node_modules
/public/storage
/vendor
/.idea
/.phpunit.cache
Homestead.json
Homestead.yaml
.env
.orig
langfiles.zip
npm-debug.log
# The files created by Vite in the build process
/public/build
public/**/*.LICENSE.txt

**/*.map
/.buildpath
/.project

local.log

browserstack.err
.npm
.composer
.phpunit.result.cache
